/* Grayscale */

:root {
    --bg-intensity: 6;
    --txt-intensity: 18;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-black: oklab(calc(1 / var(--bg-intensity)) 0 0);
        --bg-white: oklab(calc(1 - (1 / var(--bg-intensity))) 0 0);

        --bg-gray: oklab(0.35 0 0);

        --txt-black: oklab(calc(1 / var(--txt-intensity)) 0 0);
        --txt-white: oklab(calc(1 - (1 / var(--txt-intensity))) 0 0);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-white: oklab(calc(1 / var(--bg-intensity)) 0 0);
        --bg-black: oklab(calc(1 - (1 / var(--bg-intensity))) 0 0);

        --bg-gray: oklab(0.65 0 0);

        --txt-white: oklab(calc(1 / var(--txt-intensity)) 0 0);
        --txt-black: oklab(calc(1 - (1 / var(--txt-intensity))) 0 0);
    }
}

* {color: var(--txt-white)}

body {background-color: var(--bg-white);}

header, .visuals > * {background-color: var(--bg-black);}

.wrapper.visuals {background-color: var(--bg-gray);}

h1.course-name {background: none;}

/* Colors */

.version.alpha, .triggers {--hue: 155;}
.version.beta, .rules {--hue: 275;}
.version.final, .feedbacks {--hue: 315;}
.version.case-study, .loops-modes, .loops, .modes {--hue: 350;}

@media (prefers-color-scheme: light) {

    h1, .container {
        --luminance: 0.45;
        --chroma: 0.35;
    }

    .wrapper {
        --luminance: 0.9;
        --chroma: 0.15;
    }

}

@media (prefers-color-scheme: dark) {

    h1, .container {
        --luminance: 0.8;
        --chroma: 0.15;
    }

    .wrapper {
        --luminance: 0.6;
        --chroma: 0.2;
    }

}


h1, section {
    background-color: oklch(var(--luminance) var(--chroma) var(--hue));
}
