/* Grayscale */

:root {
    --bg-intensity: 8;
    --txt-intensity: 32;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-black: oklch(calc(1 / var(--bg-intensity)) 0 0);
        --bg-white: oklch(calc(1 - (1 / var(--bg-intensity))) 0 0);

        --txt-black: oklch(calc(1 / var(--txt-intensity)) 0 0);
        --txt-white: oklch(calc(1 - (1 / var(--txt-intensity))) 0 0);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-white: oklch(calc(1 / var(--bg-intensity)) 0 0);
        --bg-black: oklch(calc(1 - (1 / var(--bg-intensity))) 0 0);

        --txt-white: oklch(calc(1 / var(--txt-intensity)) 0 0);
        --txt-black: oklch(calc(1 - (1 / var(--txt-intensity))) 0 0);
    }
}

* {color: var(--txt-black)}

body {background-color: var(--bg-white);}

header {background-color: var(--bg-black);}

h1 {color: var(--txt-white);}

h1.course-name {background: none;}

/* Colors */

.visuals {--hue: 60;}
.version.alpha, .triggers {--hue: 150;}
.version.beta, .rules {--hue: 240;}
.version.final, .feedbacks {--hue: 300;}
.version.case-study, .loops-modes, .loops, .modes {--hue: 0;}

@media (prefers-color-scheme: light) {
    h1 {
        --chroma: 0.2;
        --luminance: 0.5;
    }

    .wrapper {
        --chroma: 0.15;
        --luminance: 0.625;
    }

    .container {
        --chroma: 0.1;
        --luminance: 0.75;
    }
}

@media (prefers-color-scheme: dark) {
    h1 {
        --chroma: 0.1;
        --luminance: 0.75;
    }

    .wrapper {
        --chroma: 0.15;
        --luminance: 0.6;
    }

    .container {
        --chroma: 0.2;
        --luminance: 0.45;
    }
}

h1, section {
    background-color: oklch(var(--luminance) var(--chroma) var(--hue));
}
