/* This project will use Open Sans, aligning with Flying Blue's branding.  */

@font-face {
    font-family: 'Open Sans';
    src: url('/media/typography/OpenSans.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/media/typography/OpenSans-Italic.ttf') format('truetype');
    font-style: italic;
}

:root {
    font-family: 'Open Sans', sans-serif;

    --gap: 0.75rem;
    --gap-side: calc(1.5 * var(--gap));
}

* {
    box-sizing: border-box;
    text-wrap: pretty;
}

html, body, header {width: 100%;}

body {min-width: 23rem;}

body, section {
    display: flex;
    flex-flow: column nowrap;
}

h1, h2, a.btn {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    font-weight: 550;
    letter-spacing: -0.25px;
    line-height: 125%;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a.btn {
    align-items: center;
    border-radius: var(--gap);
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.25rem;
    height: 3rem;
    justify-content: center;
    margin: 0 var(--gap-side);
    padding: 0 var(--gap-side);
    transition: all 125ms ease-in-out;
}

/* Header */

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

header > a {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: var(--gap) var(--gap-side);
    justify-content: flex-start;
    padding: var(--gap);
}

img.icon {
    border-radius: var(--gap);
    height: 2.5rem;
}

header h1 {
    font-size: 1.75rem;
}

h1.version {
    justify-content: center;
    padding: calc(0.75 * var(--gap)) var(--gap-side);
}

@media (width <= 32.5rem) {

    header > a {
        justify-content: center;
        width: 100%;
    }

    h1.version {
        width: 100%;
    }

}

/* Main grid */

main {
    align-self: center;
    display: grid;
    gap: var(--gap);
    padding: var(--gap) 0;
    width: clamp(20rem, 100%, 80rem);
}

.wrapper.build {grid-area: build;}
.wrapper.visuals {grid-area: visuals;}
.wrapper.triggers {grid-area: triggers;}
.wrapper.rules {grid-area: rules;}
.wrapper.feedbacks {grid-area: feedbacks;}
.wrapper.loops-modes {grid-area: loops-modes;}
.wrapper.loops {grid-area: loops;}
.wrapper.modes {grid-area: modes;}

@media (width < 46.5rem) {
    main {grid-template-columns: 1fr;}
}

@media (46.5rem <= width) {
    main {grid-template-columns: repeat(2, 1fr);}
}

@media (64rem <= width) {
    main {grid-template-columns: repeat(3, 1fr);}
}

/* Blocks */

.wrapper {
    gap: calc(0.75 * var(--gap));
}

.wrapper > * {
    padding: var(--gap) var(--gap-side);
    width: 100%;
}

h1.mi-component {
    font-size: 1.5rem;
}

.container {
    gap: calc(0.5 * var(--gap));
}

h2 {
    font-size: 1.25rem;
}

ul {
    display: flex;
    flex-flow: column nowrap;
    gap: calc(0.25 * var(--gap));
    list-style: disc;
    margin: 0 calc(1.75 * var(--gap));
}

li {
    font-size: 1rem;
    line-height: 145%;
}

/* Special design for the visuals section. */

.wrapper.visuals > .container {
    align-items: center;
}

.wrapper.visuals > .container > * {
    width: 100%;
}

video {
    border-radius: var(--gap);
}

/* Flying Blue webiste link */

a.btn.flying-blue {
    align-self: center;
    background-color: var(--fb-indigo-background);
    border: 0.25rem solid var(--fb-indigo-background);
    color: var(--fb-white-text);
    justify-self: center;
    width: fit-content;
}

a.btn.flying-blue:hover {
    background-color: var(--fb-gray-background);
    color: var(--fb-indigo-text);
}

a.btn.flying-blue:active {
    border-color: var(--fb-black-text);
    color: var(--fb-black-text);
}
