@import url('./reset.css');

/* Variables */

:root {
    --zoom-factor: 1;

    --gapX: 0.75rem;
    --gap: calc(var(--zoom-factor) * var(--gapX));
    --gap-x8: calc(0.125 * var(--gap));
    --gap-2x: calc(2 * var(--gapX));

    --btn-heightX: 2.75rem;
    --btn-height: calc(var(--zoom-factor) * var(--btn-heightX));
    
    --border-radiusX: 0.75rem;
    --border-radius: calc(var(--zoom-factor) * var(--border-radiusX));
    --border-radius-wrapper: ;
}

/* IBM Design Language - Colors */

:root {
    --ibm-green-20: #a7f0ba;
    --ibm-green-40: #42be65;
    --ibm-green-50: #24a148;
    --ibm-green-60: #198030;
    --ibm-green-70: #0e6027;
    --ibm-green-90: #022d0d;

    --ibm-teal-20: #9ef0f0;
    --ibm-teal-40: #08bdba;
    --ibm-teal-50: #009d9a;
    --ibm-teal-60: #007d79;
    --ibm-teal-70: #005d5d;
    --ibm-teal-90: #022b30;

    --ibm-blue-20: #d0e2ff;
    --ibm-blue-40: #78a9ff;
    --ibm-blue-50: #4589ff;
    --ibm-blue-60: #0f62fe;
    --ibm-blue-70: #0043ce;
    --ibm-blue-90: #001d6c;

    --ibm-purple-20: #e8daff;
    --ibm-purple-40: #be95ff;
    --ibm-purple-50: #a56eff;
    --ibm-purple-60: #8a3ffc;
    --ibm-purple-70: #6929c4;
    --ibm-purple-90: #31135e;

    --ibm-magenta-20: #ffd6e8;
    --ibm-magenta-40: #ff7eb6;
    --ibm-magenta-50: #ee5396;
    --ibm-magenta-60: #d02670;
    --ibm-magenta-70: #9f1853;
    --ibm-magenta-90: #510224;
}

/* Flying Blue brand colors */

:root {
    --fb-indigo-text: #0800b9;
    --fb-gray-background: #f0f6ff;
    --fb-black-text: #1d1d1d;
    --fb-indigo-background: #09179d;
    --fb-white-text: #fff;
}

/* Color schemes */

:root {
    --black0: #000;
    --black1: #121212;
    --white0: #fff;
    --white1: #fcfcfc;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: var(--white1);
        --background-alt: var(--black1);
        --text-color0: var(--black0);
        --text-color0-alt: var(--white0);
        --text-color1: var(--black1);
        --text-color1-alt: var(--white1);

        --green0: var(--ibm-green-60);
        --green1: var(--ibm-green-70);
        --green2: var(--ibm-green-90);

        --teal0: var(--ibm-teal-60);
        --teal1: var(--ibm-teal-70);
        --teal2: var(--ibm-teal-90);

        --blue0: var(--ibm-blue-60);
        --blue1: var(--ibm-blue-70);
        --blue2: var(--ibm-blue-90);

        --purple0: var(--ibm-purple-60);
        --purple1: var(--ibm-purple-70);
        --purple2: var(--ibm-purple-90);

        --magenta0: var(--ibm-magenta-60);
        --magenta1: var(--ibm-magenta-70);
        --magenta2: var(--ibm-magenta-90);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--black1);
        --background-alt: var(--white1);
        --text-color0: var(--white0);
        --text-color0-alt: var(--black0);
        --text-color1: var(--white1);
        --text-color1-alt: var(--black1);

        --green0: var(--ibm-green-50);
        --green1: var(--ibm-green-40);
        --green2: var(--ibm-green-20);

        --teal0: var(--ibm-teal-50);
        --teal1: var(--ibm-teal-40);
        --teal2: var(--ibm-teal-20);

        --blue0: var(--ibm-blue-50);
        --blue1: var(--ibm-blue-40);
        --blue2: var(--ibm-blue-20);

        --purple0: var(--ibm-purple-50);
        --purple1: var(--ibm-purple-40);
        --purple2: var(--ibm-purple-20);

        --magenta0: var(--ibm-magenta-50);
        --magenta1: var(--ibm-magenta-40);
        --magenta2: var(--ibm-magenta-20);
    }
}

/* Hyperlinks */

@media (prefers-color-scheme: light) {
    :root {
        --apple-blue: rgb(0,136,255);
        --apple-indigo: rgb(97,85,245);
        --apple-purple: rgb(203,48,224);
        --apple-pink: rgb(255,45,85);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --apple-blue: rgb(0,145,255);
        --apple-indigo: rgb(107,93,255);
        --apple-purple: rgb(219,52,242);
        --apple-pink: rgb(255,55,95);
    }
}

a.hyperlink {
    color: var(--apple-blue);
    text-decoration: underline;
}

a.hyperlink:hover {color: var(--apple-indigo);}
a.hyperlink:active {color: var(--apple-pink);}
a.hyperlink:visited {color: var(--apple-purple);}

/* Component background colors */

.wrapper.first {background-color: var(--green2);}
.wrapper.second {background-color: var(--teal2);}
.wrapper.third {background-color: var(--blue2);}
.wrapper.fourth {background-color: var(--purple2);}
.wrapper.fifth {background-color: var(--magenta2);}

/* Animation methods */

@keyframes breathe1 {
    0% {
        background-color: var(--local-selected-color);
        color: var(--text-color0-alt);
    }
    50% {
        background-color: var(--text-color0-alt);
        color: var(--local-selected-color);
    }
    100% {
        background-color: var(--local-selected-color);
        color: var(--text-color0-alt);
    }
}

@keyframes breathe4 {
    0% {color: var(--text-color0);}
    12.5% {color: var(--green1);}
    25% {color: var(--text-color0);}
    37.5% {color: var(--teal1)}
    50% {color: var(--text-color0);}
    62.5% {color: var(--blue1);}
    75% {color: var(--text-color0);}
    87.5% {color: var(--purple1);}
    100% {color: var(--text-color0);}
}

@keyframes breathe4a {
    0% {background-color: var(--background-alt);}
    12.5% {background-color: var(--green2);}
    25% {background-color: var(--background-alt);}
    37.5% {background-color: var(--teal2)}
    50% {background-color: var(--background-alt);}
    62.5% {background-color: var(--blue2);}
    75% {background-color: var(--background-alt);}
    87.5% {background-color: var(--purple2);}
    100% {background-color: var(--background-alt);}
}

/* Microinteraction for components */

.interactive:active {background-color: var(--text-color0-alt) !important;}

.interactive.first {background-color: var(--green0);}
.interactive.first:hover {background-color: var(--green1);}
.interactive.first:active {color: var(--green1);}

.interactive.second {background-color: var(--teal0);}
.interactive.second:hover {background-color: var(--teal1);}
.interactive.second:active {color: var(--teal1);}

.interactive.third {background-color: var(--blue0);}
.interactive.third:hover {background-color: var(--blue1);}
.interactive.third:active {color: var(--blue1);}

.interactive.fourth {background-color: var(--purple0);}
.interactive.fourth:hover {background-color: var(--purple1);}
.interactive.fourth:active {color: var(--purple1);}

/* Basic Designs */

* {
    box-sizing: border-box;
    text-wrap: pretty;
}

:root {font-family: 'Helvetica Neue', 'Arial', sans-serif;}

a {cursor: pointer;}

body {background-color: var(--background-color);}

.flexbox, .wrapper, a.btn, section {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    gap: var(--gap);
    justify-content: center;
    padding: var(--gap);
}

.wrapper {
    border-radius: calc(var(--border-radius) + var(--gap));
}

a.btn, img.icon {
    border-radius: var(--border-radius);
    height: var(--btn-height);
}

a.btn {
    color: var(--text-color0-alt);
    font-size: 1.5rem;
    font-weight: 500;
    flex-direction: row;
    text-align: center;
    text-decoration: none;
    transition: background-color,color 80ms ease-in-out;
}

/* Typography */

h1, h2, h3, header > div.title > a {
    font-weight: 500;
    letter-spacing: -0.3px;
}

h2, h3, ul {color: var(--text-color0-alt);}

ul {
    list-style: disc;
    padding-left: var(--gap);
}

li {
    padding: var(--gap-x8);
    margin-left: calc(0.5 * var(--gap));
}

/* Homepage */

body.home {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

/* Headings of homepage */

body.home > * {text-align: center;}

body.home :where(h1, h2, p.prompt) {color: var(--text-color0);}

body.home > h2 {
    font-weight: 400;
    letter-spacing: -0.3px;
}

p.prompt {
    animation: breathe4 10s ease-in-out infinite;
    font-weight: 300;
    letter-spacing: 0.5px;
}

body.home > .wrapper {flex-direction: row;}

/* Sizes of buttons on the homepage*/

body.home {
    --btn-widthX: 7.5rem;
    --btn-width-1x: calc(var(--zoom-factor) * var(--btn-widthX));
    --btn-width-2x: calc(2 * var(--btn-width-1x) + var(--gap));
}
body.home a.btn {width: var(--btn-width-1x);}
body.home > div.case-study > a.btn {width: var(--btn-width-2x);}

/* Header */

header {
    background-color: var(--background-alt);
    flex-direction: row;
    height: calc(var(--btn-height) + 2 * var(--gap));
}
/* Maximal speciality to override flexbox rules */
header.flexbox {
    justify-content: space-between;
    padding: 0;
}

header > * {height: 100%;}

header > div.title {
    flex-direction: row;
    padding-left: var(--gap-2x);
}

header > div.title > a {
    color: var(--text-color0-alt);
    text-decoration: none;
}

h1.version.first {--local-selected-color: var(--green0);}
h1.version.second {--local-selected-color: var(--teal0);}
h1.version.third {--local-selected-color: var(--blue0);}
h1.version.fourth {--local-selected-color: var(--purple0);}

h1.version {
    animation: breathe1 2.5s ease-in-out 2;
    background-color: var(--local-selected-color);
    color: var(--text-color0-alt);
    flex-direction: row;
    font-weight: 400;
    padding: var(--gap) var(--gap-2x);
}

/* Main */

main {
    flex-direction: column;
    justify-self: center;
    padding: var(--gap-2x);
}

main > div.wrapper, main > div.wrapper > * {
    flex-direction: column;
    width: 100%;
}

div.wrapper > section.headings {
    align-items: baseline;
    flex-flow: row wrap;
    gap: calc(0.75 * var(--gap));
    justify-content: space-between;
    padding: var(--gap-x8) var(--gap);
}

main :where(section.content, img.screen-recording) {border-radius: var(--border-radius);}

section.content {
    align-items: flex-start;
    background-color: var(--background-alt);
    flex-direction: column;
}

video {border-radius: var(--border-radius);}

/* Button to the original site */

div.flying-blue, div.visualize {
    animation: breathe4a 10s ease-in-out infinite;
    background-color: var(--background-alt);
}

a.btn.flying-blue {
    background-color: var(--fb-indigo-background);
    color: var(--fb-white-text);
}

a.btn.flying-blue:hover {
    background-color: var(--fb-gray-background);
    color: var(--fb-indigo-text);
}

a.btn.flying-blue:active {
    background-color: var(--fb-white-text);
}

/* Responsiveness */

/* Standard Screen */

h1, header > div.title > a {font-size: 2.75rem;}
h2 {font-size: 1.75rem;}
h2.component, h3 {font-size: 1.5rem;}
p, li {font-size: 1.25rem;}

main > div.wrapper {max-width: 30rem;}

/* Smaller Screens */

@media (width <= 50rem) {
    header > div.title > a > span {display: none;}
}

@media (23.5rem < width <= 38rem) {
    div.title > img.icon {display: none;}
}

@media (30rem < width <= 36.25rem) {
    h1, header > div.title > a {font-size: 2.25rem;}
    h2 {font-size: 1.375rem;}
    h2.component, h3 {font-size: 1.25rem;}
}

@media (width <= 30rem) {
    body.home :where(h1, h2, p.prompt) {width: 100%;}
    h1, header > div.title > a {font-size: 2.125rem;}
}

@media (width <= 27rem) {
    header > div.title > a, header > h1 {font-size: 1.75rem;}
}

@media (width <= 23.5rem) {
    header {
        flex-direction: column;
        height: auto;
    }
    /* Maximal speciality to override flexbox rules */
    header.flexbox {gap: 0;}

    header > div.title {
        margin: 0;
        padding: var(--gap);
    }
    header > h1 {width: 100vw;}
}

@media (width <= 23rem) {
    :root {
        --component-width: calc(100vw - 2 * var(--gap-2x));
    }
}

/* Larger Screens */

@media (80rem <= width < 120rem) {
    :root {--zoom-factor: 1.25;}
    h1, header > div.title > a {font-size: 3rem;}
    h2 {font-size: 2rem;}
    h2.component, h3 {font-size: 1.75rem;}
    p, li {font-size: 1.5rem;}
    a.btn {font-size: 1.75rem;}
}

@media (120rem <= width < 160rem) {
    :root {--zoom-factor: 1.5;}
    h1, header > div.title > a {font-size: 3.5rem;}
    h2 {font-size: 2.5rem;}
    h2.component, h3 {font-size: 2.25rem;}
    p, li {font-size: 2rem;}
    a.btn {font-size: 2.25rem;}
    main > div.wrapper {max-width: 45rem;}
}

@media (160rem <= width) {
    :root {--zoom-factor: 2;}
    h1, header > div.title > a {font-size: 4rem;}
    h2 {font-size: 3rem;}
    h2.component, h3 {font-size: 2.75rem;}
    p, li {font-size: 2.5rem;}
    a.btn {font-size: 2.75rem;}
    main > div.wrapper {max-width: 60rem;}
}
