@import url('/css/collection.css');

/* Main grid */

@media (width < 46.5rem) {

    main {
        grid-template-rows: repeat(5, auto);
        grid-template-areas: 
        'triggers'
        'rules'
        'feedbacks'
        'loops-modes'
        'visuals';
    }

}

@media (46.5rem <= width) {

    main {
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        'triggers loops-modes'
        'rules visuals'
        'feedbacks visuals';
    }

}

@media (64rem <= width) {

    main {
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        'triggers rules feedbacks'
        'loops-modes rules feedbacks'
        'visuals visuals visuals';
    }

}

/* Video display grid */

@media (width < 64rem) {

    .wrapper.visuals {
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        'mi-component' 
        'btn-flying-blue'
        'video1';
    }

}

@media (64rem <= width) {

    .wrapper.visuals {
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 
        'mi-component btn-flying-blue'
        'video1 video1';
    }

}

/* Flying Blue webiste link */

.flying-blue {
    --fb-indigo-text: #0800b9;
    --fb-gray-background: #f0f6ff;
    --fb-black-text: #1d1d1d;
    --fb-indigo-background: #09179d;
    --fb-white-text: #fff;
}

a.btn.flying-blue {
    align-self: center;
    background-color: var(--fb-indigo-background);
    border: 0.25rem solid var(--fb-indigo-background);
    color: var(--fb-white-text);
    justify-self: center;
    margin: var(--gap) var(--gap-side);
    width: fit-content;
}

a.btn.flying-blue:hover {
    background-color: var(--fb-gray-background);
    color: var(--fb-indigo-text);
}

a.btn.flying-blue:active {
    border-color: var(--fb-black-text);
    color: var(--fb-black-text);
}

/* Video viewport size */

.wrapper.visuals > .container > * {
    max-width: 24rem;
}

/* Build section */
