h1.header {
    --local-selected-color: var(--green0);

    background-color: var(--local-selected-color);
    color: var(--text-color0-alt);

    animation: breathe1 2.5s ease-in-out 2;
}

@media (width <= 50rem) {
    div.title > a > span {display: none;}
}

@media (23.5rem < width <= 38rem) {
    div.title > img.icon {display: none;}
}

main {
    justify-self: center;
    gap: var(--gap-2x);
    padding: var(--gap-2x);
}

main {
    display: grid;
    grid-template-areas: 'flying-blue' 'triggers' 'rules' 'feedbacks' 'loops-modes' 'visualize';
}

main {max-width: 30rem;}

a.btn, section.content, img.visualize {
    width: 100%;
}

/* GIF Display */

img.visualize {
    border-radius: var(--border-radius);
    justify-self: center;
}

/* Button to the original site */

div.flying-blue.wrapper {
    background-color: var(--fb-indigo-background);
}

a.btn.flying-blue {
    background-color: var(--fb-indigo-background);
    color: var(--fb-white-text);
    padding: var(--gap);
}

a.btn.flying-blue:hover {
    background-color: var(--fb-gray-background);
    color: var(--fb-indigo-text);
}

a.btn.flying-blue:active {
    background-color: var(--fb-white-text);
}

/* Section Titles */

section.content {
    background-color: var(--background-alt);
    border-radius: var(--border-radius);
    padding: var(--gap);
    padding-bottom: var(--gap-x8);
}

.wrapper.triggers {background-color: var(--green2);}
.wrapper.rules {background-color: var(--teal2);}
.wrapper.feedbacks {background-color: var(--blue2);}
.wrapper.loops-modes {background-color: var(--purple2);}
.wrapper.visualize {background-color: var(--magenta2);}

section.triggers {background-color: var(--green0);}
section.rules {background-color: var(--teal0);}
section.feedbacks {background-color: var(--blue0);}
section.loops-modes {background-color: var(--purple0);}

h2 {color: var(--text-color0-alt);}

ul {
    color: var(--text-color0-alt);
    margin: var(--gap);
    padding-left: var(--gap);
}

h3 {
    font-size: 1.125rem;
    font-weight: 500;
    padding-bottom: var(--gap-x8);
}

li {
    font-size: 1.125rem;
    padding: var(--gap-x8) 0;
    margin-left: var(--gap);
}
