h1.header {
    --local-selected-color: var(--green0);

    background-color: var(--local-selected-color);
    color: var(--button-text-color);

    animation: breathe1 2.5s ease-in-out 3;
}

@media (width <= 50rem) {
    span.course-code {display: none;}
}

@media (width <= 38rem) {
    div.title > img.icon {display: none;}
}

main {
    justify-self: center;
    gap: var(--gap-2x);
    padding: var(--gap-2x);
}

/* GIF Display */

img.visualize {
    border-radius: var(--border-radius);
    justify-self: center;
    width: var(--component-width);
}

/* Button to the original site */

a.btn.flying-blue {
    background-color: var(--fb-indigo-background);
    color: var(--fb-white-text);
    width: var(--component-width);
}

a.btn.flying-blue:hover {
    background-color: var(--fb-gray-background);
    border: 0.25rem solid var(--fb-indigo-background);
    color: var(--fb-indigo-text);
}

a.btn.flying-blue:active {
    background-color: var(--fb-white-text);
}

/* Section Titles */

section.content {
    background-color: var(--background-alt);
    border-radius: var(--border-radius);
    padding: var(--gap);
    padding-bottom: var(--gap-x8);
    width: var(--component-width);
}

section.triggers {background-color: var(--green0);}
section.rules, section.feedbacks {background-color: var(--blue0);}
section.loops-modes {background-color: var(--purple0);}

h2 {color: var(--text-color0);}

ul {
    color: var(--text-color1);
    margin: var(--gap);
    padding-left: var(--gap);
}

h3 {
    font-size: 1.125rem;
    font-weight: 500;
    padding-bottom: var(--gap-x8);
}

li {
    font-size: 1.125rem;
    padding: var(--gap-x8) 0;
    margin-left: var(--gap);
}
